# Cargo build directory
target/

# Rust-specific files
**/*.rs.bk
**/*.rs.swp

# Operating System and Editor files (common examples)
.DS_Store
.vscode/
*.swp
*~

# Virtual environment directories
.venv/
